body {
    background: white;
}

table {
    background-color: #e8e8e8;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: calc(100% - 40px); /* Ensures the table doesn't exceed the container width */
    padding: 10px; /* Optional: Add padding if you want space inside the table */
    border-collapse: separate; /* Ensures padding works inside the table */
    border-spacing: 10px; /* Adds space between table cells */
    border-radius: 15px; /* Rounds the corners */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

.table-container {
    overflow-x: auto; /* Allows horizontal scrolling if needed */
    padding: 20px; /* Adds space around the table */
    display: flex;
    justify-content: center;
}

.clock {
    /* 
    position: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    letter-spacing: 7px;
    */
    text-align: center;
    color: #616161;
    font-size: 150px;
    font-family: 'Ubuntu Condenced',sans-serif;
}

.weather {
    color: #616161;
    font-size: 25px;
    font-family: 'Ubuntu Condenced',sans-serif;
    text-align: center;
    /*width: 200px;*/
    position: center;
    /* white-space: nowrap; */
}

.weatherheader {
    color: #616161;
    font-size: 10px;
    font-family: 'Ubuntu Condenced',sans-serif;
    text-align: center;
    /*width: 200px;*/
}

.weathericon {
    max-width: 60px;
    height: auto;
  }
