body {
    background: white;
}

table {
    background-color: #e8e8e8;
    margin: 40px; /* Adjust the value as needed */
    padding: 10px; /* Optional: Add padding if you want space inside the table */
    border-collapse: separate; /* Ensures padding works inside the table */
    border-spacing: 10px; /* Adds space between table cells */
    border-radius: 7px; /* Rounds the corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0.1, 0.3); /* Adds a subtle shadow */
}

.clock {
    /* 
    position: center;top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    letter-spacing: 7px;
    */
    text-align: center;
    color: #616161;
    font-size: 200px;
    font-family: 'Ubuntu Condenced',sans-serif;
}

.weather {
    color: #616161;
    font-size: 30px;
    font-family: 'Ubuntu Condenced',sans-serif;
}

.weatherheader {
    color: #616161;
    font-size: 10px;
    font-family: 'Ubuntu Condenced',sans-serif;
}
