body {
    background: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    
    color: #ffffff;
    font-size: 200px;
    font-family: 'Ubuntu Condenced',sans-serif;
    letter-spacing: 7px;
}